<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required />
    <mat-error *ngIf="productForm.get('name')?.hasError('required')">O nome é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Descrição</mat-label>
    <input matInput formControlName="description" required />
    <mat-error *ngIf="productForm.get('description')?.hasError('required')">A descrição é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Preço</mat-label>
    <input matInput type="number" formControlName="price" required />
    <mat-error *ngIf="productForm.get('price')?.hasError('required')">O preço é obrigatório</mat-error>
    <mat-error *ngIf="productForm.get('price')?.hasError('min')">O preço minimo é 0 (zero)</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantidade</mat-label>
    <input matInput type="number" formControlName="stock_quantity" required />
    <mat-error *ngIf="productForm.get('stockQuantity')?.hasError('required')">Quantidade é obrigatório</mat-error>
    <mat-error *ngIf="productForm.get('stockQuantity')?.hasError('min')">A quantidade minima permitida é 1</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Categoria</mat-label>
    <input matInput formControlName="category" required />
    <mat-error *ngIf="productForm.get('category')?.hasError('required')">Categoria é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Localização no estoque</mat-label>
    <input matInput formControlName="warehouse_location" required />
    <mat-error *ngIf="productForm.get('warehouse_location')?.hasError('required')">Localização é obrigatória</mat-error>
  </mat-form-field>

  <div class="btn-save-container">
    <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid || isLoading">
      <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      <span *ngIf="!isLoading">Salvar</span>
    </button>
  </div>
</form>
