:host {
  &::before {
    content: "";
    background-image: url('assets/stock.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  margin: 0 1rem;
  form {
    width: 50%;
    @media (max-width: 768px) {
      width: 100%;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    .btn-save-container {
      display: flex;
      justify-content: center;
      width: 100%;
      button {
        padding: 1.7rem;
        width: 40%;
      }
    }
  }
}
