<div>
  <mat-toolbar color="primary">
    <span>TI Estoque</span>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a mat-menu-item href="/">
        <mat-icon>home</mat-icon>
        <span>Início</span>
      </a>
      <a mat-menu-item href="/novo-produto">
        <mat-icon>save</mat-icon>
        <span>Novo produto</span>
      </a>
      <a mat-menu-item target="_blank" href="mailto:ivanildosilvalima@gmail.com" title="ivanildosilvalima@gmail.com">
        <mat-icon>contact_mail</mat-icon>
        <span>Contato</span>
      </a>
    </mat-menu>
  </mat-toolbar>

  <router-outlet />
</div>
